.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif font-size: 2.5px;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copywright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif font-size: 2.5px;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.me {
  height: 300px;
  width: 300px;
}

.logo1 {
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.logo2 {
  height: 25%;
  width: 25%;
  float: right;
  margin-right: 30px;
}

.pro {
  text-decoration: underline;
  text-decoration-thickness: 13%;
}

a {
  color: #11999E;
}

.skill-row {
  margin: 100px auto 150px;
  width: 50%;
  text-align: left;
  line-height: 2;
}

p {
  line-height: 2
  margin: 500px;
}

hr {
  border-top: dotted #EAF6F6;
  border-width: 6px;
  width: 7%;
  margin: auto;
  border-width: thick;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif font-size: 2.5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contactt{
  margin: 20px auto 40px;
  width: 40%;
}
